* {
    margin: 0;
    padding: 0;
}

.box {
    width: 100%;
    background-color: #D2E9FB;
}

.content .sort li {
    padding: 10px;
    margin: 10px;
}

.box .content{
    margin: auto;
    width: 60%;
    background-color: #FFFFFF;
}



.content .sort ul{
    list-style: none;
}

.navigation {
    text-align: center;
    background-color: bisque;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
}

.box .content .sort{
    padding-top: 20px;
    margin-left: 20px;
    padding-left: 20px;
}

.navI {
    float: left;
    width: 25%;
    box-sizing: border-box;
}

.box .navigation ul{
    list-style: none;
}
.box .navigation ul li{
    cursor: pointer;
}
.content {
    height: 500px;
    margin: 5px;
}

.sort {
    display: none;
    margin: auto;
}


iframe {
    height: 300px;
    width: 800px;
}

#publish_article {
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    width: 600px;
}

.sort p{
    padding-top: 20px;
    padding-bottom: 20px;
}

.sort table{
    /*border: 1px solid black;*/
}

.sort table tr td{
    width: 400px;
    padding: 5px;
}

.sort label{
    margin: 20px;
}

.sort .btn input{
    border-width: 0px; /* 边框宽度 */
    border-radius: 3px; /* 边框半径 */
    background: #1E90FF; /* 背景颜色 */
    cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
    outline: none; /* 不显示轮廓线 */
    font-family: Microsoft YaHei; /* 设置字体 */
    color: white; /* 字体颜色 */
    font-size: 17px; /* 字体大小 */
    padding: 10px;
    margin: 10px;
}

.sort .form_group{
    padding: 10px;
}
